extends layout
block content
	script!="window.data="+JSON.stringify(data)+";"
	#elem
		ul
			li(v-repeat="field : stocks") {{field.resource.fields.name}}
		table.table
			caption Resumen de las acciones
			thead
				tr
					th(v-repeat="field : stocks") {{field.resource.fields.name}}
			tbody
				tr
					th(v-repeat="field : stocks") {{field.resource.fields.price}}
				tr
					th(v-repeat="field : stocks") {{field.resource.fields.symbol}}
				tr
					th(v-repeat="field : stocks") {{field.resource.fields.ts}}
				tr
					th(v-repeat="field : stocks") {{field.resource.fields.type}}
				tr
					th(v-repeat="field : stocks") {{field.resource.fields.utctime}}
				tr
					th(v-repeat="field : stocks") {{field.resource.fields.volume}}
